body{
    background-color: rgb(162, 216, 130);
    margin: 0px;
    padding: 0px;
}
.cabeca{
    background-color: rgb(182, 220, 226);
    width: 1920px;
    height: 80px;
    margin-top: 0px;
}

.titulo{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    text-align: center;
    color: brown;
}
.cabeca_2{
    background-color: rgb(194, 247, 255);
    width: 1920px;
    height: 150px;
    margin-top: 0px;
    background:url(Assets/banner-closeup-three-hide-dogs-600nw-1990878914.webp);
}

.bloco_de_informacoes{
    background-color: rgb(239, 225, 207);
    width: 1000px;
    height: 1000px;
    margin: auto;
    position: relative;
    margin-top: 40px;
    border-radius: 20px;
}

#cadastro{
    font-family:fantasy;
    position: relative;
    align-items:center ;
    left: 360px;
    top: 10px;
    font-size: 50px;
    
}

form {
   margin: 50px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;align-self:;
   font-size: 50px;
   display: block;
}

input{
    padding: 20px;
    width: 900px;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px ;
}

.opcao{
     width: 40px;
    height: 40px;
    
}